@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,700italic,700|Droid+Sans+Mono);

body {
	font-family: "Titillium Web", "Helvetica", "Arial", sans-serif;
	font-size: 10pt;
}
h1, div.post .date {
	text-align: center;
}

div.post .date {
	font-size: 85%;
	font-family: "Droid Sans Mono", monospace;
}

div.post h1 {
	font-size: 16pt;
}

div.contents h1 {
	text-align: left;
	font-size: 12pt;
}

h1 {
	font-size: 30pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", "Helvetica", "Arial", sans-serif;
	font-style: italic;
}

blockquote, pre {
	margin: 1in;
}
pre {
	font-family: "Droid Sans Mono", monospace;
}

a {
	font-style: normal;
}

a:before {
	content: "[";
}
a:after {
	content: "](" attr(href) ")";
}

h1#main a:after {
	content: attr(href);
	vertical-align: super;
	font-size: 50%;
}

h1#main a:before {
	content: ""
}
div.copyright {
    font-size: 8pt;
    border: 1px solid;
    width: 6in;
    margin: auto;
	font-family: "Droid Sans Mono", monospace;
}
