@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,700italic,700|Droid+Sans+Mono);

body {
	background-color: #001337;
	color: #ff0;
	font-family: "Titillium Web", "Helvetica", "Arial", sans-serif;
	font-size: 16pt;
}
h1, div.post .date {
	text-align: center;
}

div.post .date {
	font-size: 85%;
	font-family: "Droid Sans Mono", monospace;
}

div.post h1 {
	font-size: 24pt;
}

div.contents h1 {
	text-align: left;
	font-size: 20pt;
}

h1 {
	font-size: 36pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", "Helvetica", "Arial", sans-serif;
	font-style: italic;
}


a {
	color: #00ff00;
}

pre {
	font-size: 16pt;
	font-family: "Droid Sans Mono", monospace;
}
blockquote, pre {
	margin: 1in;
}
div.copyright {
    font-size: 8pt;
    width: 6in;
    margin: auto;
	font-family: "Droid Sans Mono", monospace;
}
